.middlePage {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 3em;
}

.panel > .panel-heading {
    background-color: #30a5ff;
    color: #fff;
    font-size:3em;
    border: none; }

.centered   {
    text-align: center;
}