<div class="bg">
    <div class="container middlePage">

        <div class="row">
            <div class="col-md-12">
                <div class="centered panel panel-red">
                    <div class="panel-heading centered">FAQ</div>
                    <div class="panel-body">
                        <p>Esta secção explica os procedimentos que
                            tens de tomar para te inscreveres no Hub do GCE. Lê todos os passos com muita atenção! (clica
                            em cada passo para veres mais). Além disso, tentamos esclarecer algumas dúvidas adicionais que
                         possas ter.</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <accordion>

                        <accordion-group>
                            <div accordion-heading >
                                Passo 1 - Arranjar equipa <span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span>
                            </div>
                            <p>As equipas são de pelo menos 2 elementos. Se ainda não tiveres equipa, podes postar no <a target="_blank" href="https://www.facebook.com/events/212879605945560/">nosso evento</a>.</p>

                        </accordion-group>

                        <accordion-group>
                            <div accordion-heading >
                                Passo 2 - Pré-Inscrição <span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span>
                            </div>
                            <p>Se ainda não o fizeste, por favor <a href="https://www.gce-neiist.org/hascode"> pré-inscreve a tua equipa</a>.
                                A pré-inscrição permite-nos apurar quantas pessoas vão querer participar, de modo a que possamos alocar
                                recursos para todos.
                                <b>Nota que a pré-inscrição só garante o lugar da tua equipa na lista de espera</b>.</p>

                        </accordion-group>

                        <accordion-group>
                            <div accordion-heading >
                                <b>Passo 3 - Inscrição no Judge System da Google</b><span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span>
                            </div>
                            <p><b>Cada elemento da equipa</b> tem de se <a target="_blank" href="https://events.withgoogle.com/hashcode2018-signup/">inscrever aqui</a>.
                                <b>Nota que é importante que todos o façam a tempo, pois a criação da conta pode levar até 24 horas.</b>
                                Depois da inscrição, há que formar equipa no Judge System (<a target="_blank" href="https://hashcode.withgoogle.com/faq.html#judge">ver FAQ da Google</a>).
                                <br><br>
                                Depois de seguires estes passos todos, estás quase lá. Só falta juntares-te ao Hub do GCE (ver passo 4).
                        </accordion-group>

                        <accordion-group>
                            <div accordion-heading >
                                <b>Passo 4 - Junta-te ao Hub do GCE</b><span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span>
                            </div>
                            <p>Finalmente, e para garantires a tua presença dia 1 de março no nosso evento, <b>tu e os teus
                                colegas de equipa</b> têm de se juntar ao nosso Hub.
                                Se reparares, de momento o nosso Hub não está a aceitar inscrições.
                                As inscrições irão abrir <b>dia 1 de fevereiro às 14:30h</b>, e irão <b>encerrar no mesmo dia às 16:55h.
                                    Será first come, first served</b>. Por isso, garante que às 14:30h todos os membros estão prontos
                                para se juntar ao Hub. Nota que quando alcançarmos o limite de capacidade as inscrições irão encerrar.

                            </p>
                        </accordion-group>

                    </accordion>
         </div>

        <div class="row">
            <accordion>

                <accordion-group>
                    <div accordion-heading >
                        Porque é que me devo juntar ao Hub do GCE? <span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span><span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                    </div>
                    <p>Excelente pergunta. Deixa-nos responder-te na forma de lista não ordenada:</p>
                    <ul>
                        <li>Conhece novos colegas, motivadíssimos sobre esta temática.</li>
                        <li>Conhece os nossos fantásticos parceiros (e habilita-te a criar relações profissionais duradouras).</li>
                        <li>Terás todo o suporte do GCE ao longo da competição.</li>
                        <li>Coffee-break, para não programares de estômago vazio.</li>
                        <li>Goodies da Google!</li>
                        <li>Redbull? Prémios? Stay Tuned!</li>
                    </ul>
                    <p>
                    Estamos a explorar mais formas de tornar este convívio ainda mais espetacular e valioso.
                    Sugestões são sempre bem-vindas!
                    </p>
                </accordion-group>

                <accordion-group>
                    <div accordion-heading >
                        UPDATE: C Hub encheu. E agora? <span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span>
                    </div>
                    <p>Não desesperes: no caso de termos vagas adicionais ou de desistência, iremos contactar as equipas da lista de espera/pré-inscrição.</p>
                </accordion-group>

                <accordion-group>
                    <div accordion-heading >
                        Podem recordar-me acerca do programa?<span class="label label-danger"><i class="fa fa-google"></i> Hash Code</span><span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                    </div>
                    <p>Sim.</p>
                    <app-gce-hash-code-program></app-gce-hash-code-program>
                </accordion-group>
                <accordion-group>
                    <div accordion-heading >
                        Tenho uma dúvida, onde a posso esclarecer?<span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                    </div>
                    Podes usar a feedback form deste site, à tua direita. Alternativamente, usa o chat da nossa
                    <a href="https://www.facebook.com/gce.neiist/">página do Facebook</a>.
                </accordion-group>

                <accordion-group>
                    <div accordion-heading >
                        O que é o GCE, afinal?<span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                    </div>
                    <a href="https://www.facebook.com/gce.neiist/">O Grupo de Contacto com Empresas (GCE)</a>, é uma organização estudantil sem fins lucrativos, secção autónoma do
                    <a href = "https://neiist.tecnico.ulisboa.pt">Núcleo Estudantil de Informática do IST</a>. Neste ano letivo, propomos-nos a providenciar serviços para os alunos, professores e empresas.
                </accordion-group>

                <accordion-group>
                    <div accordion-heading >
                        Por acaso nunca ouvi falar de vocês. Porquê?<span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                    </div>
                    <p>As atividades do GCE eram tipicamente de divulgação de propostas de empresas, o que é um pouco feito em background.
                        No entanto, este ano vamos estar 100% direcionados aos alunos, através da criação de novos serviços para estes.Teremos novidades que garantimos serem muito interessantes!
                        <br><br>Stay tuned!
                    </p>
                </accordion-group>

            </accordion>
        </div>

    </div>
</div>