<div class="bg">
    <div class="container middlePage">

        <div class="row">
            <div class="col-md-12">
                <div class="centered panel panel">
                    <div class="panel-heading centered">FAQ</div>
                    <div class="panel-body">

                        <div class="row">
                            <accordion>


                                <accordion-group>
                                    <div accordion-heading >
                                        O que é o GCE, afinal?<span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                                    </div>
                                    <a href="https://www.facebook.com/gce.neiist/">O Grupo de Contacto com Empresas (GCE)</a>, é uma organização estudantil sem fins lucrativos, secção autónoma do
                                    <a href = "https://neiist.tecnico.ulisboa.pt">Núcleo Estudantil de Informática do IST</a>. Neste ano letivo, propomos-nos a providenciar serviços para os alunos, professores e empresas.
                                </accordion-group>

                                <accordion-group>
                                    <div accordion-heading >
                                        Por acaso nunca ouvi falar de vocês. Porquê?<span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                                    </div>
                                    <p>As atividades do GCE eram tipicamente de divulgação de propostas de empresas, o que é um pouco feito em background.
                                        No entanto, este ano vamos estar 100% direcionados aos alunos, através da criação de novos serviços para estes.Teremos novidades que garantimos serem muito interessantes!
                                        <br><br>Stay tuned!
                                    </p>
                                </accordion-group>

                                <accordion-group>
                                    <div accordion-heading >
                                        Tenho uma dúvida que não está explicada aqui, onde a posso esclarecer?<span class="label label-success"><i class="fa fa-globe"></i> GCE</span>
                                    </div>
                                    Podes usar a feedback form deste site, à tua direita. Alternativamente, usa o chat da nossa
                                    <a href="https://www.facebook.com/gce.neiist/">página do Facebook</a>.
                                </accordion-group>

                            </accordion>
                        </div>



                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
