.middlePage {
    width: 70%;
    height: 100%em;
    margin: auto;
}

.panel > .panel-heading {
    background-color: #337ab7;
    color: #fff;
    font-size:3em;
    border: none; }

.centered   {
    text-align: center;
}