.panel-info > .panel-heading {
  background-color: #30a5ff;
  color: #fff;
  font-size:2.5em;
  border: none; }

.panel-success > .panel-heading {
  background-color: #60AA14;
  color: #fff;
  font-size:2.5em;
  border: none; }

.centered {
  text-align: center;
}

.arrumadoEmColuna {
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}
