<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="container"></div>
  <div class="row middlePage">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">O que é uma proposta?</div>
        <div class="panel-body">Esta área permite à empresa submeter as suas próprias propostas de tese. O objetivo é alocar o
          aluno para estagiar na sua empresa, com objetivo de produção de uma tese de mestrado. O âmbito da tese
          deve ser discutido e negociado com o aulo e respetivo orientador. Como estamos em
          fase de testes, propomos que não publique nenhuma proposta real (a não ser que seja para efeitos de teste).</div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 nav-tab-holder">
        <ul class="nav nav-tabs row" role="tablist">
          <li role="presentation" class="active col-sm-6"><a [routerLink]="['/addProposals']" aria-controls="home" role="tab" data-toggle="tab">Proposta</a></li>
        </ul>
      </div>

    </div>


    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">

          <div id = "contentorProposta" class="col-xl-10">
            <article role="login">
              <form (submit)="addProposal()" class="signup" action="index.html" method="post">
                <flash-messages></flash-messages>

                <div class="form-group">
                  <input [(ngModel)]="description" class="form-control" placeholder="Insira a descrição da sua proposta"  name="description">
                </div>


                <div class="form-group">
                  <input [(ngModel)]="requirements" class="form-control" placeholder="Insira os requisitos. Exemplo: Licenciatura em Eng.Informática. Média mínima de 13 valores" name="requirements">
                </div>

                <div class="form-group">
                  <input bsDaterangepicker [(ngModel)]="bsRangeValue" [bsConfig]="bsConfig" name="date_beginning" class="form-control" placeholder="Data estimada de início do estágio">
                </div>

                <div class="form-group">
                  <input [(ngModel)]="salary" name="salary" class="form-control" placeholder='Salário mensal do estágio. Insira "-" se não quer explicitar detalhes salariais'>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="observations" name="observations" class="form-control" placeholder="Observações. Exemplo: Salário negociável. Tema de tese negociável.">
                </div>
                <div class="form-group">
                  <input [(ngModel)]="vacancies" name="vacancies" class="form-control" placeholder="Número de vagas. Número de pares aluno-orientador para uma proposta de tese semelhante">
                </div>
                <div class="form-group">
                  <input [(ngModel)]="link" name="link" class="form-control" placeholder="Insira um link informativo, relativo à proposta">
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-primary">
                      <div class="panel-heading centered">Áreas da proposta (escolher indicadas)</div>
                      <div class="panel-body">
                        <button type="button" (click)="disabled = !disabled" class="btn btn-primary">Big Data</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-success">Inteligência Artificial</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-success">Ciber-Segurança</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-danger">Sistemas Distribuídos</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-warning">Sistemas de Informação</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-info">Sistemas Embebidos</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-primary">Robótica Inteligente</button>
                        <button type="button" (click)="disabled = !disabled" class="btn btn-warning">Engenharia de Software</button>

                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-block"  value="SUBMETER">
                </div>





              </form>

            </article>
          </div>



        </div>
        <!-- end of row -->
      </div>
      <!-- end of home -->


    </div>

</div>
