<div class="container">
  <div class="login-signup">
    <div class="row">
      <div class="col-sm-6 nav-tab-holder">
        <ul class="nav nav-tabs row" role="tablist">
          <li role="presentation" class="active col-sm-6"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Empresa</a></li>
        </ul>
      </div>

    </div>


    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">

          <div class="col-sm-6 mobile-pull">
            <article role="login">
              <form (submit)="registerCompany()" class="signup" action="index.html" method="post">

                <div class="form-group">
                  <input [(ngModel)]="name" class="form-control" placeholder="Nome"  name="name">
                </div>


                <div class="form-group">
                  <input [(ngModel)]="email" type="email" class="form-control" placeholder="E-mail" name="email">
                </div>


                <div class="form-group">
                  <input input [(ngModel)]="description" name="description" class="form-control" placeholder="Descrição da empresa">
                </div>


                <div class="form-group">
                  <input [(ngModel)]="location" name="location" class="form-control" placeholder="Localização da empresa">
                </div>

                <div class="form-group">
                  <input [(ngModel)]="contact" name="contact" class="form-control" placeholder="Contacto telefónico da empresa">
                </div>

                <div class="form-group">
                  <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirmar password">
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" (click)="clicked($event)"> Por favor aceite os nossos termos e política de privacidade para proceder.
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-block"  value="SUBMIT">
                </div>
              </form>

              <footer role="signup" class="text-center">
                <ul>
                  <li>
                  <a  routerLink='/wip'>Terms of Use</a>
                  </li>
                  <li>
                  <a  routerLink='/wip'>Privacy Policy</a>
                  </li>
                </ul>
              </footer>

            </article>
          </div>

          <div class="col-sm-6">
            <article role="manufacturer"  class="text-center">
              <header>
                Benefícios
              </header>
              <h1>Sem custos</h1>
              <ul class="text-left">
                <li><i class="fa fa-check"></i>  Acesso ilimitado</li>
                <li><i class="fa fa-check"></i>  Submissão de propostas</li>
                <li><i class="fa fa-check"></i>  Dashboard com estatísticas</li>
                <li>  COMING SOON</li>
                <li>   COMING SOON</li>
                <li>  COMING SOON</li>
              </ul>
            </article>
          </div>

        </div>
        <!-- end of row -->
      </div>
      <!-- end of home -->


    </div>
  </div>
</div>
