<div class="container">
    <div class="col-lg-6"></div>
    <div class="col-lg-4">

        <button type="button" [routerLink]="['/hashcode']" class="btn btn-warning bigFont" aria-label="Left Align">
            <i class="fa fa-google"> Hash Code</i>
        </button>


    </div>
    <br><br>
    <div class="row">

      <div class="col-md-12">
        <div class="centered panel panel-info">
          <div class="panel-heading">Propostas</div>
          <div class="panel-body">
            <div *ngIf="proposals"><p>De momento não estamos a divulgar propostas</p></div>
            <div *ngIf="!proposals">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Empresa</th>
                    <th>Data começo</th>
                    <th>Data fim</th>
                    <th>Salário</th>
                    <th>Vagas</th>
                    <th>Descrição</th>
                    <th>Link</th>
                    <th>Qualificações necessárias</th>
                    <th>Observações</th>

                    <th>Apply</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let proposal of proposals">
                    <td>{{ proposal.proposalIndex}}</td>
                    <td>{{ proposal.company }}</td>
                    <td>{{ proposal.date_beginning }}</td>
                    <td>{{ proposal.date_end }}</td>
                    <td>{{ proposal.salary }}</td>
                    <td class="arrumadoEmColuna">{{ proposal.vacancies }}</td>
                    <td class="arrumadoEmColuna">{{ proposal.description }}</td>
                    <td class="arrumadoEmColuna">{{ proposal.link }}</td>
                    <td class="arrumadoEmColuna"> {{ proposal.requirements }}</td>
                    <td class="arrumadoEmColuna">{{ proposal.observations }}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm"
                              data-target="#template"
                              (click)="setProposal(proposal._id,proposal.company);openModal(template)">
                        Apply
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="centered panel panel-success">
          <div class="panel-heading">As Minhas Candidaturas</div>
          <div class="panel-body">
              <div *ngIf="applications"><p>Não te candidataste a nenhuma proposta</p></div>
              <div *ngIf="!applications">
                <table id="proposalTable" class="table table-striped">
                  <thead>
                  <tr>
                    <th>Proposal</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let application of applications">
                    <td>{{ application.proposal }}</td>
                    <td>{{ application.creationDate }}</td>
                    <td>{{ application.status }}</td>
                    <td>
                      <button type="button" class="btn btn-danger" #pop="bs-popover"
                              [popover]="delete" popoverTitle="Are you sure?"
                              (click)="setToDeleteApplication(application._id)">
                        Delete application
                      </button>

                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>

          </div>
        </div>
      </div>
    </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" id="myModalLabel">Edit Proposal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="proposal" class="modal-body">

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="applyToProposal($event)" data-dismiss="modal">Apply</button>
  </div>
</ng-template>

<ng-template #delete>
  <button type="button" class="btn btn-danger btn-sm"
          data-target="#delete"
          (click)="invalidateApplication($event)">
    Yes
  </button>
  <button type="button" class="btn btn-success btn-sm">
    No
  </button>
</ng-template>
