<div class="bg">
    <div class="banner">
        <div class="container">
            <div class="banner-info">

                <p>
                    O Grupo de Contacto com Empresas do NEIIST (GCE) é um grupo de alunos pertencente ao NEIIST (Núcleo Estudantil de Informática do IST), uma organização estudantil sem fins lucrativos, sediada na Av. Rovisco Pais, Nº1, IST, Pav. Informática I, DEI, NEIIST, 1049-001 Lisboa.
                    O GCE propõem-se a providenciar um leque de serviços grátis para os alunos do Instituto Superior Técnico (IST).

                </p>
                <h1>Política de Privacidade</h1>
                <h2>Última alteração: 6 de setembro de 2018</h2>
                <h2>A. PARTE GERAL</h2>
                <h3>1.1. RECOLHA E TRATAMENTO DE DADOS DO UTILIZADOR</h3>
                <p>No âmbito da disponibilização do website alojado em gce-neiist.org ("Plataforma") e do fornecimento
                    das informações, recursos e serviços de conteúdos, incluindo newsletter(em conjunto, os “Serviços”)
                    aos seus utilizadores: alunos, professores, e alumni (“Utilizador”), o GCE pode requisitar ao Utilizador, através do sistema Fénix,
                    que disponibilize dados pessoais, que permitam ao GCE identificá-lo e/ou contactá-lo (“Dados Pessoais”).
                    Os Dados Pessoais são requisitados quando o Utilizador se regista na Plataforma, através do sistema Fénix.

                    <br><br>
                    Os Dados Pessoais são guardados automaticamente quando o Utilizador faz Login na aplicação, e estes são nome, e-mail institucional, curso, roles e cadeiras, caso se aplique.
                    O Utilizador tem a possibilidade de ceder outro tipo de Dados Pessoais, que possam ser necessários ou convenientes para o acesso a
                    determinados Serviços da Plataforma. Se o GCE necessitar de dados adicionais, solicitará uma nova autorização aos Utilizadores.
                    <br>
                    O GCE também recolhe e trata informação sobre as páginas visitadas pelo Utilizador dentro da Plataforma.
                    Esta informação pode incluir: o seu IP, o seu tipo de browser, o nome de domínio, os tempos de acesso e determinadas ações dentro da Plataforma.
                    Utilizamos esta informação para fins estatísticos e para melhorar a qualidade de visita à nossa Plataforma.
                    O GCE é o unico responsável pela recolha e tratamento de Dados dos Utilizadores.
                    <br><br>

                    Qualquer dúvida ou reclamação poderá ser feita no seguinte endereço: admin@gce-neiist.org.
                <h3>1.2. CANAIS DE RECOLHA DOS DADOS</h3>
                <p>Presencialmente, por e-mail e através da Plataforma.</p>

                <h2>2. PRINCÍPIOS GERAIS APLICÁVEIS AO TRATAMENTO DE DADOS DO UTILIZADOR</h2>

                <p>O GCE compromete-se a que os seus dados tratados sejam:
                    <br><br>
                    1) Objecto de um tratamento lícito, leal e transparente em relação ao Utilizador;
                    <br><br>
                    2) Recolhidos para finalidades determinadas, explícitas e legítimas, não sendo tratados posteriormente de uma forma incompatível com essas finalidades;
                    <br><br>
                    3) Adequados, pertinentes e limitados ao que é necessário relativamente às finalidades para as quais são tratados;
                    <br><br>
                    Os tratamentos de dados efectuados pelo GCE são lícitos quando se verifique pelo menos uma das seguintes situações:
                    <br><br>
                    1)O Utilizador tiver dado o seu consentimento explícito para o tratamento dos seus dados para uma ou mais finalidades específicas;
                    <br><br>
                    2)O Utilizador tiver dado o seu consentimento implícito, ao se registar na Plataforma;
                    <br><br>
                    O GCE compromete-se a assegurar que o tratamento dos Dados do Utilizador apenas é feito nas condições acima.

                    O Utilizador tem o direito de retirar o seu consentimento a qualquer momento. A retirada do consentimento, todavia, não compromete a licitude do tratamento efectuado pelo GCE com base no consentimento previamente dado pelo Utilizador.</p>
                <h2>3. UTILIZAÇÃO E FINALIDADES DO TRATAMENTO DE DADOS DO UTILIZADOR</h2>
                <p>Em termos gerais, o GCE utiliza os Dados do Utilizador com as seguintes finalidades:<br>
                    1)Inscrição do Utilizador na Plataforma;<br>
                    2)Permitir o acesso a áreas restritas da Plataforma.<br>
                    3)Informar o Utilizador, de novos produtos e serviços disponibilizados na Plataforma através da nossa newsletter.<br>
                    4)Garantir que a Plataforma vai ao encontro das necessidades do Utilizador, através do desenvolvimento e
                    publicação de conteúdos o mais adaptados possível às solicitações e ao tipo de Utilizador, da melhoria das capacidades
                    de pesquisa e funcionalidades da Plataforma e da obtenção de informação agregada ou estatística relativamente ao perfil
                    tipo do Utilizador (análise de perfis de consumo ou profiling);<br>
                <h2>4. Conservação de Dados</h2>
                <p>
                    Os dados do Utilizador serão conservados até dois anos após ter feito login pela útilma vez. Alternativamente, o Utilizador pode requerer que os seus dados sejam definitivamente apagados.
                </p>
                <h2>5. Alteração de Condições de Utilização da Plataforma</h2>
                <p>Esta secção está em construção, pelo que será alterada.
                    O GCE reserva-se o direito de alterar a presente Política de Privacidade a todo o tempo. Em caso de modificação da Política de Privacidade,
                    a data da última alteração, disponível no topo desta página, é também actualizada. Recomenda-se a consulta periódica desta secção.</p>
                <h2>6. Notas</h2>
                <p>Esta plataforma utiliza serviços providenciados pela Google (Google Analytics) e pelo Facebook (botões de partilha).
                    Estes elementos externos podem utilizar Cookies.<br></p>

            </div>
        </div>
    </div>
</div>