.album {
    padding: 0 !important;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.btn-more {
    color: #66615b;
    border-color: rgba(102, 97, 91, 0.5);
    border-width: 1.5pt;
    margin-bottom: 20pt;
}

.btn-more:hover {
    background: #66615b !important;
    color: white !important;
}

    .article-title {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}