<body class="bg-light">
  <main role="main">
          
    <div class="album py-5 bg-light">
      <div class="container px-5">
        <h1 class="jumbotron-heading" style="font-family: 'Oswald', sans-serif;">ARTIGOS</h1>
        <!-- <h2 class="jumbotron-heading">Artigos</h2> -->

        <!-- <p>Todos os artigos e entrevistas estão disponíveis no nosso<a href="https://medium.com/gce-neiist"> Medium</a>. Segue-nos e fica a par!</p> -->
      </div>
    <div class="container px-5">
      <ng-container *ngIf="pinnedArticle">
        <pinned-article [article]="pinnedArticle"></pinned-article>
      </ng-container>
    </div>
    <div class="container px-5">
      <div class="row">
        <ng-container *ngFor="let article of articles">
          <div class="col-md-6" *ngIf="article.title != pinnedArticle.title">
            <div class="card mb-4 shadow-sm">
              <a href="{{ article.link }}" class="stretched-link" target="_blank"></a>
              <img class="card-img-top" src="{{ article.image }}" alt="Card image cap">
            <div class="card-body">    
              <p class="card-text article-title"><b>{{ article.title.toUpperCase() }}</b></p>
              <p class="card-text">{{ article.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <ng-container *ngFor="let tag of article.tags">
                    <button type="button" class="btn btn-sm btn-outline-secondary">{{tag}}</button>
                  <!--<button type="button" class="btn btn-sm btn-outline-danger">GCE</button>-->
                  </ng-container>
                </div>
                <small class="text-muted">{{ article.date }}</small>
              </div>
            </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</main>
</body>