
.header-nightsky {
width: 100%;
	height: 100%;
		font-family: 'Montserrat', sans-serif;
    background: url("assets/img/4056n.png");
    background-size: cover;
    background-position: bottom;
    color: white;
    padding-bottom: 390px;
	margin-top:-60px;
	padding-top:40px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	
}

.header-nightsky .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.header-nightsky .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header-nightsky .navbar-toggle {
    background-color: transparent !important;
    
    border: 1px solid #fff;
}

.header-nightsky .navbar-toggle .icon-bar {
    background-color: white;
}


.header-nightsky .hero {
    text-align: center;
}

.header-nightsky .hero h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}


.header-nightsky .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header-nightsky .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.header-nightsky .btn-primary:hover {
    background-color:rgba(0,219,255,0.4);
}

.header-nightsky .btn-primary:active {
    transform:translateY(1px);
}

@media screen and (max-width: 767px) {

    

    .header-nightsky .hero h1{
        font-size: 42px;
    }
}

.icon {
	line-height: 1.6;
    margin: 15px 0px;
    padding: 10px 15px;
    opacity: 1;
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.icon:hover {
	color: #00DBFF;
}

