
<div class="bg">
  <!----- start-header---->
  <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
  </div>
  <!----- //End-header---->
  <!---- banner ---->
  <div class="banner wow fadeIn" data-wow-delay="0.5s">
    <div class="container">
      <div class="banner-info text-center">
        <h1>Grupo De Contacto Com Empresas</h1>

        <div>

          <button type="button" [routerLink]="['/login']" class="btn btn-default bigFont" aria-label="Left Align">
              <i class="fa fa-sign-in"> Login</i>
          </button>

            <button type="button" [routerLink]="['/hashcode']" class="btn btn-primary bigFont" aria-label="Left Align">
            <i class="fa fa-google"> Hash Code</i>
          </button>


        </div>
        <p>1.2.1-Beta</p>
      </div>
    </div>
  </div>
</div>
<!---- banner ---->
<!--- services --->
<div id="services" class="services">
  <div class="container">
    <div class="service-head text-center">
      <h2>Core Services</h2>
      <span> </span>
    </div>
    <!--- services-grids --->
    <div class="services-grids text-center">
      <div class="col-md-4">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <i class="fa fa-graduation-cap serviço1"  aria-hidden="true"></i>
          <h3><a [routerLink]="['/login']">GCE-Thesis</a></h3>
          <p>Achas impossível difícil decidir qual a tese que vais fazer? </p>
          <p>Achas a lista de "400" teses no Fénix extensa e prolixa?</p>
          <p>Nós também. GCE-Thesis é um serviço informativo feito de alunos para alunos, que te ajudará
              a pesquisar as teses do Fénix. Este serviço está em desenvolvimento.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <i class="fa fa-handshake-o serviço4"  aria-hidden="true"></i>
            <h3><a>Estágios Remunerados</a></h3>
          <p>O GCE vai focar-se em entregar-te estágios de qualidade em startups. Estamos em processo de estabelecimento de
            parcerias. Se és aluno do Técnico e procuras um estágio neste momento, podes utilizar a
            <a href="https://ist-csm.symplicity.com">plataforma oficial do IST</a>.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <i class="fa fa-lightbulb-o serviço3"  aria-hidden="true"></i>
            <h3><a>Serviços de inovação</a></h3>
          <p>EM DESENVOLVIMENTO</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!--- services-grids --->
  </div>
</div>

<!--- services --->
<div class="clearfix"> </div>

<!--- portfolio ---->
<div id="missao" class="portfolio">
  <div class="portfolio-top">
    <div class="col-md-8">
      <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
        <div></div><h3>A Nossa Missão</h3>
        <p> De momento, o GCE está a ser uma ponte entre empresas e alunos do IST.</p>
        <div class="portfolio-top-left-grids">
          <div class="portfolio-top-left-grid">
              <i class="fa fa-handshake-o missao1"  aria-hidden="true"></i>
            <div class="portfolio-top-left-grid-left">

            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Reforçar laços</h5>
              <p> Queremos ajudar os alunos a conhecerem empresas espetaculares. Para atingir este objetivo, ajudamos as empresas a divulgarem as suas ofertas.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
              <i class="fa fa-bolt missao2"  aria-hidden="true"></i>
            <div class="portfolio-top-left-grid-left">

            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Promover o Empreendedorismo</h5>
              <p>Mais cedo ou mais tarde, irás comandar equipas. O empreendorismo é uma excelente forma de te focares na tua criatividade, inovação e dinamismo! </p>
              <p>No GCE, queremos ajudar-te a descobrires  empreendedor em ti!</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
              <i class="fa fa-road missao3"  aria-hidden="true"></i>
            <div class="portfolio-top-left-grid-left">

            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Ser a estrada que conecta empresas, alunos e professores.</h5>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
      <div class="portfolio-top-right">

      </div>
    </div>

<!--- GCE-Thesis---->
<div id="port" class="expertise">
  <div class="expertice-grids">
    <div class="col-md-8 expertice-left-grid wow fadeInLeft " data-wow-delay="0.4s">
      <div class="expertise-head">
        <h3>GCE-Thesis</h3>
          <p> De modo a diminuir a distância entre alunos, empresas e professores, o GCE está a desenvolver a GCE-Thesis.</p>
          <p> Este produto tem como objetivo ajudar-te a pesquisar as teses disponíveis mais eficientemente.
              Numa fase posterior, queremos ajudar-te a encontrar a empresa certa para estagiares, equanto escreves a tua tese.</p>
      </div>
      <div class="expertise-left-inner-grids">
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <span class="e-icon1"> </span>
          </div>
          <div class="e-left-inner-grid-right">
            <span class="glyphicon glyphicon-education serviço1" style="font-size:50px;"></span>
            <h4 >Encontra um orientador</h4>
            <p>Nós tratamos das empresas. Certifica-te que encontras o orientador indicado para ti.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <span class="e-icon2"> </span>
          </div>
          <div class="e-left-inner-grid-right">
            <span class="glyphicon glyphicon-home serviço4" style="font-size:50px;"></span>
            <h4>Escolhe uma empresa</h4>
            <p>Dá uma vista de olhos às nossas empresas parceiras, de modo a veres qual a empresa que melhor se enquadra à tua tese.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <span class="e-icon3"> </span>
          </div>
          <div class="e-left-inner-grid-right">
            <span class="glyphicon glyphicon-fire match" style="font-size:50px;"></span>
            <h4>Faz um match acontecer!</h4>
            <p>Esta relação tripartida tem o foco em ti. Impulsiona uma relação duradoura e recompensadora ao longo da tua experiência.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <span class="e-icon4"> </span>
          </div>
          <div class="e-left-inner-grid-right">
            <span class="glyphicon glyphicon-lock serviço5" style="font-size:50px;"></span>
            <h4>Recolha de dados</h4>
            <p>Levamos a sério a tua segurança e privacidade. Para mais informações, lê a nossa política de privacidade.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <a id = "descobreMais" class="learn-more" [routerLink]="['/login']">Descobre mais!</a>
    </div>
    <div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">

    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--- Other Expertise ---->

    <app-info></app-info>

<!--- portfolio ---->
<!---- about ---->
<!---start-about---->
<span> </span>
<div class="about">
  <div class="wrap">
    <div class="about-head">
      <h1>Sobre o GCE</h1>
      <span> </span>
    </div>
    <div class="container">
      <div class="service-head text-center">
          <h3><a href="https://www.facebook.com/gce.neiist/">O Grupo de Contacto com Empresas (GCE)</a>, é uma organização estudantil sem fins lucrativos, secção autónoma do
          <a href = "https://neiist.tecnico.ulisboa.pt">Núcleo Estudantil de Informática do IST</a>. Neste ano letivo, propomos-nos a providenciar serviços para os alunos, professores e empresas.</h3>
      </div>
    </div>
      <!---start-about-time-line---->
    <div class="about-time-line">
      <li>
        <div class="cbp_tmicon img1"> </div>
        <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
          <h2>2006,1ºSemestre-Criação</h2>
          <p>Iniciou a sua atividade com o apoio formal do IST e do DEI, enquadrado na cadeira de Portfólio Pessoal.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon1 img2"> </div>
        <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
          <h2>2010 - Growing Crew</h2>
          <p>O GCE atinge um marco: 20 membros no primeiro semestre de 2010.</p>
        </div>
      </li><br>
      <li>
        <div class="cbp_tmicon2 img3"> </div>
        <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
          <h2>2013 - Enter The Dark Days </h2>
          <p>O GCE ficou reduzido a dois membros, reduzindo a sua atividade.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon3 img4"> </div>
        <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
          <h2>2017,1ºSemestre-Reestruturação</h2>
          <p>O GCE entrou em processo de reestruturação. Foi dada um novo rumo ao GCE e a sua missão reformulada. Para executar a presente transformação, o GCE conta, neste semestre, com 11 dedicadíssimos membros.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon4 img5"> </div>
      </li>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!---//End-about-time-line---->
  <!---- about ---->
</div>
<!---- team --->
<div id="team" class="team-members">
  <div class="wrap">
    <div class="tm-head">
      <h3>our team...</h3>
      <p>...ready to make awesome stuff!</p>
    </div>
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/andre.jpg" alt="">
        <h4>André Pereira</h4>
        <h5>"Work to live well, it is the greatest revenge."</h5>
        <ul class="top-social-icons">
            <a href="https://www.linkedin.com/in/andré-pereira-631a79151/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
            <a href="https://github.com/adspereira"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/bruno.jpg" alt="">
        <h4>Bruno Silva</h4>
        <h5>"If you aren't willing to work for it, don't complain about not having it"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/brunomotadasilva/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/brunomotadasilva"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/dr.jpg" alt="">
        <h4>Daniel Ramos</h4>
          <h5>"Wondering about a life-changing quote"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/daniel-r-8a285312a/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/danieltrt"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="wrap">
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/daniela.jpg" alt="">
        <h4>Daniela Mendes</h4>
        <h5>"Trying to live life to its fullest while learning with every bump in the road I’m faced with."</h5>
        <ul class="top-social-icons">
          <a href="http://linkedin.com/in/daniela-mendes-656906153"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/gce.png" alt="">
        <h4>Francisco Santos</h4>
          <h5>"Wondering about a life-changing quote"</h5>
        <ul class="top-social-icons">
          <a href=""><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/gonc.jpg" alt="">
        <h4>Gonçalo Espadeiro</h4>
        <h5>"Opportunity does not knock, it presents itself when you beat down the door."</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/gonçalo-espadeiro-065323146/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/Gespadeiro"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div> <div class="wrap">
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/i.png" alt="">
        <h4>Inês Sequeira</h4>
          <h5>"Wondering about a life-changing quote"</h5>
        <ul class="top-social-icons">
          <a href="https://github.com/inesseq"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/in%C3%AAs-sequeira-a2b6b2a6/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/heleno.jpg" alt="">
        <h4>Jorge Heleno</h4>
        <h5>"Giving the best and fighting for an open-source world!"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/jorge-heleno/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/Gisson"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/teo.jpg" alt="">
        <h4>Lourenço Teodoro</h4>
        <h5>"Intending to die on Mars and trying to make something out of life before that"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/ldpted/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/DuTheo"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <a href="https://twitter.com/TeoTheBot"><i class="fa fa-twitter social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
    <div class="wrap">
      <div class="tm-head-grids">
        <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
          <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/pedro.jpg" alt="">
          <h4>Pedro Grilo</h4>
          <h5>"Meaningful things will allow you to enjoy life to its fullest."</h5>
          <ul class="top-social-icons">
            <a href="https://www.linkedin.com/in/pedro-grilo-9a620bb5/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.2s">
          <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/rafa.jpg" alt="">
          <h4><a href="https://web.ist.utl.pt/rafael.belchior/">Rafael Belchior</a></h4>
          <h5>"I don't walk, I run!"</h5>
          <ul class="top-social-icons">
            <a href="https://www.linkedin.com/in/rafaelpbelchior/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
            <a href="https://github.com/RafaelAPB/"><i class="fa fa-github social" aria-hidden="true"></i></a>
            <a href="https://medium.com/@rafaelbelchior"><i class="fa fa-medium social" aria-hidden="true"></i></a>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!---- team --->
    <!---- contact --->

        <div class="copy-right text-center">
          <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>

    </div>
    <!---- contact !-->
  </div>
