
<div class="bg">
  <!----- start-header---->
  <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
  </div>
  <!----- //End-header---->
  <!---- banner ---->
  <div class="banner wow fadeIn" data-wow-delay="0.5s">
    <div class="container">
      <div class="banner-info text-center">
        <h1>Grupo De Contacto Com Empresas   <button type="button" class="btn btn-primary">Beta <span class="badge"></span></button></h1>
           <div>

        </div>
      </div>

    </div>
  </div>
</div>
<!---- banner ---->
<!--- services --->

<div id="services" class="services">
  <div class="container">
    <div class="service-head text-center">
      <h2>GCE-Thesis</h2><br>
        <h6>Com suporte para:</h6>
        <span class="badge badge-primary">MEIC</span>
        <br><br><br>
    </div>
      <div class="row">
          <div class="col-4"></div>
          <div class="col">

              <button type="button" routerLink='/thesis' class="btn btn-outline-primary btn-round" style="text-align: center">          Ajuda-me a encontrar a tese perfeita!
              </button>
          </div>
      </div>

<span>  </span>
      <div class="main">
          <div class="section text-center">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 mr-auto ml-auto">

                          <br>
                      </div>
                  </div>
                  <br/><br/>
                  <div class="row">
                      <div class="col-md-3">
                          <div class="info">
                              <div class="primary">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Pesquisa eficientemente</h4>
                                  <p class="description">O nosso algoritmo categoriza cada tese de mestrado, para não perderes tempo.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="fa fa-gift" aria-hidden="true"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Recomendações Personalizadas</h4>
                                  <p>Nós podemos recomendar-te teses de mestrado com base nas cadeiras que fizeste. Fácil, certo?</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Estatísticas</h4>
                                  <p>Acede a estatísticas sobre as teses de mestrado!</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-primary">
                                  <i class="fa fa-lock" aria-hidden="true"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Recolha de Dados</h4>
                                  <p>Levamos a sério a tua segurança e privacidade. Para mais informações, lê a nossa política de privacidade.</p>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

  </div>
</div>

<!--- services --->
<div class="clearfix"> </div>



<span> </span>
<div class="about">
  <div class="wrap">
    <div class="about-head">
      <h1>Sobre o GCE</h1>
      <span> </span>
    </div>
    <div class="container">
      <div class="service-head text-center">
          <h3><a href="https://www.facebook.com/gce.neiist/">O Grupo de Contacto com Empresas (GCE)</a>, é uma organização estudantil sem fins lucrativos, secção autónoma do
          <a href = "https://neiist.tecnico.ulisboa.pt">Núcleo Estudantil de Informática do IST</a>. Neste ano letivo, propomos-nos a providenciar serviços para os alunos, professores e empresas.</h3>
      </div>
    </div>
      <!---start-about-time-line---->
    <div class="about-time-line">
      <li>
        <div class="cbp_tmicon img1"> </div>
        <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
          <h2>2006,1ºSemestre-Criação</h2>
          <p>Iniciou a sua atividade com o apoio formal do IST e do DEI, enquadrado na cadeira de Portfólio Pessoal.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon1 img2"> </div>
        <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
          <h2>2010</h2>
          <p>O GCE atinge um marco: 20 membros no primeiro semestre de 2010.</p>
        </div>
      </li><br>
      <li>
        <div class="cbp_tmicon2 img3"> </div>
        <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
          <h2>2013 </h2>
          <p>O GCE ficou reduzido a dois membros, reduzindo a sua atividade.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon3 img4"> </div>
        <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
          <h2>2017,1ºSemestre-Reestruturação</h2>
          <p>O GCE entrou em processo de reestruturação. Foi dada um novo rumo ao GCE e a sua missão reformulada. Para executar a presente transformação, o GCE conta, neste semestre, com 11 dedicadíssimos membros.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon4 img5"> </div>
      </li>
      <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!---//End-about-time-line---->
  <!---- about ---->
</div>
<!---- team --->
<div id="team" class="team-members">
  <div class="wrap">
      <div class="about">
          <div class="wrap">
              <div class="about-head">
                  <h1>A Equipa</h1>
              </div></div></div>
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/andre.jpg" alt="">
        <h4>André Pereira</h4>
        <h5>"Work to live well, it is the greatest revenge."</h5>
        <ul class="top-social-icons">
            <a href="https://www.linkedin.com/in/andré-pereira-631a79151/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
            <a href="https://github.com/adspereira"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/bruno.jpg" alt="">
        <h4>Bruno Silva</h4>
        <h5>"If you aren't willing to work for it, don't complain about not having it"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/brunomotadasilva/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/brunomotadasilva"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/dr.jpg" alt="">
        <h4>Daniel Ramos</h4>
          <h5>"Wondering about a life-changing quote"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/daniel-r-8a285312a/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/danieltrt"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="wrap">
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/daniela.jpg" alt="">
        <h4>Daniela Mendes</h4>
        <h5>"Trying to live life to its fullest while learning with every bump in the road I’m faced with."</h5>
        <ul class="top-social-icons">
          <a href="http://linkedin.com/in/daniela-mendes-656906153"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/gce.png" alt="">
        <h4>Francisco Santos</h4>
          <h5>"Wondering about a life-changing quote"</h5>
        <ul class="top-social-icons">
          <a href=""><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/gonc.jpg" alt="">
        <h4>Gonçalo Espadeiro</h4>
        <h5>"Opportunity does not knock, it presents itself when you beat down the door."</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/gonçalo-espadeiro-065323146/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/Gespadeiro"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div> <div class="wrap">
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/i.png" alt="">
        <h4>Inês Sequeira</h4>
          <h5>"Wondering about a life-changing quote"</h5>
        <ul class="top-social-icons">
          <a href="https://github.com/inesseq"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/in%C3%AAs-sequeira-a2b6b2a6/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/heleno.jpg" alt="">
        <h4>Jorge Heleno</h4>
        <h5>"Giving the best and fighting for an open-source world!"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/jorge-heleno/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/Gisson"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/teo.jpg" alt="">
        <h4>Lourenço Teodoro</h4>
        <h5>"Intending to die on Mars and trying to make something out of life before that"</h5>
        <ul class="top-social-icons">
          <a href="https://www.linkedin.com/in/ldpted/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
          <a href="https://github.com/DuTheo"><i class="fa fa-github social" aria-hidden="true"></i></a>
          <a href="https://twitter.com/TeoTheBot"><i class="fa fa-twitter social" aria-hidden="true"></i></a>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
    <div class="wrap">
      <div class="tm-head-grids">
        <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
          <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/pedro.jpg" alt="">
          <h4>Pedro Grilo</h4>
          <h5>"Meaningful things will allow you to enjoy life to its fullest."</h5>
          <ul class="top-social-icons">
            <a href="https://www.linkedin.com/in/pedro-grilo-9a620bb5/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.2s">
          <img class = "img-team" src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/rafa.jpg" alt="">
          <h4><a href="https://web.ist.utl.pt/rafael.belchior/">Rafael Belchior</a></h4>
          <h5>"I don't walk, I run!"</h5>
          <ul class="top-social-icons">
            <a href="https://www.linkedin.com/in/rafaelpbelchior/"><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
            <a href="https://github.com/RafaelAPB/"><i class="fa fa-github social" aria-hidden="true"></i></a>
            <a href="https://medium.com/@rafaelbelchior"><i class="fa fa-medium social" aria-hidden="true"></i></a>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!---- team --->
    <!---- contact --->

        <div class="copy-right text-center">
          <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>

    </div>
    <!---- contact !-->
  </div>

    <app-partners-carousel></app-partners-carousel>
</div>