  <div class="container middlePage">
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-info">
          <div class="panel-heading">1) Perfil</div>
          <div class="panel-body">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ user.name}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.courses}}</td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-md-12">
        <flash-messages></flash-messages>
        <div class="panel panel-primary">
          <div class="panel-heading">2) Upload do currículo</div>
          <div class="panel-body">
              Candidata-te ao nosso sorteio através da submissão do teu currículo.
              <br><br>
              O teu currículo apenas será partilhado com a Outsystems, a Aubay e a NOVABASE.
              Este sorteio não está vinculado de qualquer forma à Google.
              Depois de partilhado com os nossos parceiros, iremos apagar o teu currículo,
              a não ser que pretendas que seja partilhado com futuros parceiros (checkbox abaixo).
              <br><br>
              Podes verificar como se faz um <a href="https://goo.gl/UgNBJp">currículo aqui</a>

              </div>

        </div>
          <p>Para fazeres upload do currículo, basta carregador no botão
              "Choose", escolher o ficheiro, e depois "Upload". O currículo tem de estar em formato PDF e ter menos de 2Mb.
               Quando aparecer uma "checkmark", o teu currículo foi enviado com sucesso.</p>
        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
          </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>

        <label class="btn btn-warning">
          <span class="glyphicon glyphicon-file">ChooseFile</span>
          <input type="file" hidden name="CV" ng2FileSelect [uploader]="uploader">
        </label>

        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>

      </div>
    </div>
    -->
    <br>
    <br>
</div>
