<div class="middlePage">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="panel panel-danger">
          <div class="panel-heading">Em construção!</div>
          <div class="panel-body">
            Esta secção ainda não está finalizada.
            Para tal, agradecemos que se reporte os bugs encontrados. Adicionalmente, qualquer sugestão é bem-vinda.</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10">
        <div class="panel panel-warning">
          <div class="panel-heading">Precisamos de opiniões!</div>
          <div class="panel-body">
            O que nos propomos a resolver é ajudar todas as partes a encontrar o melhor orientador possível.
            De modo a conseguirmos providenciar as melhores condições, precisamos de sugestões.
            A caixa "Feedback", no lado direito, serve para reportar bugs ou sugestões.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
