.middlePage {
  width: 60em;
  margin: auto;
}

.panel-warning> .panel-heading {
  background-color: #EFB920;
  color: #fff;
  font-size:2em;
  border: none; }

.panel-danger> .panel-heading {
    background-color: indianred;
  color: #fff;
  font-size:2em;
  border: none; }

.centered {
  text-align: center;
}
