<div class="container">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>

        <th class="col-md-2 centered">Empresa</th>
        <th class="col-md-5 centered">Descrição</th>
        <th class="col-md-1 centered">Estado</th>
        <th class="col-md-1 centered">Ações</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let proposal of proposals; let i = index">
        <td class="col-md-2">{{ proposal.company }}</td>
        <td class="col-md-5">{{ proposal.description }}</td>
        <td> <span class="badge badge-default">Brevemente</span>
        <td class="col-md-1">  <button type="button" class="btn btn-success" (click)="openModal(maisInfo); setProposal(proposal)">Mostrar mais informação</button></td>

      </tr>
    </tbody>
  </table>

  <ng-template #maisInfo>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Informações</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="proposal" class="modal-body">
      <div class="middlePage">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
              <th class="col-md-4">Requirements</th>
              <th class="col-md-1">Date Beginning</th>
              <th class="col-md-1">Date End</th>
              <th class="col-md-1">Salary</th>
              <th class="col-md-2">Observations</th>
              <th class="col-md-1">Vacancies</th>
              <th class="col-md-2">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th class="col-md-4"> {{ proposal.requirements }}</th>
              <th class="col-md-1"> {{ proposal.date_beginning }}</th>
              <th class="col-md-1"> {{ proposal.date_end }}</th>
              <th class="col-md-1"> {{ proposal.salary }}</th>
              <th class="col-md-2"> {{ proposal.observations }}</th>
              <th class="col-md-1"> {{ proposal.vacancies }}</th>
              <th class="col-md-2"> {{ proposal.link }}</th>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </ng-template>


</div>

<div *ngIf="!this.proposals">Ainda não começou o processo de registo de empresas</div>
