<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container middlePage">

<!--
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Importante!</h4>
        <p>
            Nesta secção podes pesquisar as teses de mestrado disponíveis para MEIC (2017-2018, 2º Semestre).
            Para tal, basta escolheres os filtros que pretendes aplicar às
            {{numberTheses}} teses.
        </p>
        <hr>
        <p class="mb-0">Atenção que a informação aqui contida é retirada do Fénix e <b>está sujeita a mudanças!</b> Caso estejas interessado numa tese, consulta <b>sempre</b> o Fénix! </p>
    </div>


    <div class="row justify-content-md-center" [hidden]="showRecomendations">
        <div class="col-md-auto">
            <div class="card" style="width: 28rem;">
                <img class="card-img-top" src="https://groups.ist.utl.pt/~gce-neiist.daemon/assets/favicon.png" height=50% width=50% alt="GCE">
                <div class="card-body">
                    <h5 class="card-title centered">Teses recomendadas</h5>
                    <p class="card-text centered">Clica no botão seguinte para o GCE te recomendar propostas de teses de mestrado. Estas recomnedações são baseadas nas cadeiras que fizeste.</p>
                    <button type="button" class="btn btn-primary" (click)="toggleShowRecomendations($event)">Ajuda-me a escolher a minha tese!</button>
                </div>
            </div>
        </div>
    </div>



    <div class="row" [hidden]="!showRecomendations">
        <div class="col-md-auto centered"></div>
        <button type="button" class="btn btn-primary" (click)="toggleShowRecomendations($event)">Esconder recomendações</button>
    </div>

    <div class="row" [hidden]="!showRecomendations">
        <div class="col-md-auto centered"></div>
        <button type="button" class="btn btn-primary" (click)="addRecomendations($event)">Mais recomendações</button>
    </div>

    <div class="row" [hidden]="!showRecomendations">
            <div class="col-md-12" *ngFor="let thesis of recommendedTheses">

                    <div class="card" style="width: 18rem;">
                        <h3>                {{ thesis.id}}</h3>
                        <div class="card-body">
                            <h5 class="card-title">{{ thesis.title}}</h5>
                            <div *ngFor="let area of recommendedTheses['areas']">
                                area
                            </div>
                            <span class="label label-default">{{thesis.areas}}</span>
                            <a href="#" class="btn btn-primary">Mais</a>
                        </div>
                    </div>

                    {{ thesis.area}}

            </div>
    </div>
-->

    <div class="sidenav">
    <ng-container *ngFor="let area of areas">
        <div *ngIf="selectedAreas.indexOf(area)>-1;else smallLabel">
            <div class="bigColorLabel" [ngStyle]="{'background-color':areaAdvanced[area][0] }" (click)="changeSelectedAreas(area)">
                <span class="labelText">{{areaAdvanced[area][1]}}</span>
            </div>
        </div>
        <ng-template #smallLabel>
            <div class="colorLabel" [ngStyle]="{'background-color':areaAdvanced[area][0] }" (click)="changeSelectedAreas(area)">
                <span class="labelText">{{areaAdvanced[area][1]}}</span>
            </div>
        </ng-template>
    </ng-container>
    </div>

    <input type="text" [(ngModel)]="queryString" placeholder="&#xf002; Search..." class="fontAwesome searchBar">
    <div class="row" [hidden]="showRecomendations">
        <div class="col-xs-12 col-sm-6 col-md-4 thesisBox" *ngFor="let thesis of theses | filterResults: queryString : selectedAreas">

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">{{ thesis.title }}</h5>
                    </div>
                    <div class="card-body">
                        <tr>
                            <td><h4>{{ thesis.id }}</h4></td>
                            <td>
                        <tr>
                            <td class="col" *ngFor="let area of thesis.areas">
                                <span class="dot"  [ngStyle]="{'background-color':areaAdvanced[area][0] }" ></span>
                            </td>
                        </tr>
                        </td>
                        <td class="moreButton"><a href="#" class="btn btn-primary ">Mais</a></td>
                        </tr>
                    </div>
                </div>
        </div>
    </div>

</div>
