@keyframes hover {
    from {width: 20px;}
    to {width: 200px;}
}
.middlePage {
    width: 70%;
    margin: auto;
    margin-top: 3em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

[hidden] {
    display: none !important;
}

.panel-info > .panel-heading {
    background-color: #30a5ff;
    color: #fff;
    font-size:2em;
    border: none; }

.panel-primary > .panel-heading {
    color: #fff;
    font-size:2em;
    border: none; }

.panel-warning> .panel-heading {
    background-color: #EFB920;
    color: #fff;
    font-size:2em;
    border: none; }

.panel-danger> .panel-heading {
    color: #fff;
    font-size:2em;
    border: none; }

.centered {
    text-align: center;
}
.thesisBox{
    padding-bottom:15px;
}
.card-body{
    padding:7px;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
.colorLabel{
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    width: 20px;
    height: 15px;
    margin-bottom:5px;
}

.bigColorLabel{
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    width: 80px;
    height: 15px;
    margin-bottom:5px;
}


.labelText{
    position:relative;
    left:-17px;
    top:-12px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    color: #ffffff;
    font-weight: bold;
}


.fontAwesome{ font-family: 'Helvetica', FontAwesome, sans-serif; }

.searchBar{
    border-radius:3px 3px 3px 3px;
    width:40%;
    margin-left:30%;
    margin-bottom:10px;
}
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 25px;
}

.typeBar{
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    right:-40px;
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 240px;
}
.type-label{
    padding: 20px;
    width: 120px;
    height: 15px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-bottom:100px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}
.selected-label{

}

.unselected-label{
    opacity: 0.6;
}

.Dissertation{
    background-color:#FFE0DA;
    transition: 0.3s;
 }
.Dissertation:hover{
    background-color:#FAC2BB;
}
.Project{
    background-color:#CFEDFB;
    transition: 0.3s;
}.Project:hover{
     background-color:#9BDAF3;
 }
.type-text{
    position:relative;
    top:-15px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    color: #ffffff;
    font-weight: bold;

}

.project-thesis{
    background-color:#CFEDFB;
    border-color: #9BDAF3;
}
.dissertation-thesis{
    background-color:#FFE0DA;
    border-color:#FAC2BB;
}