.panel-warning > .panel-heading {
  background-color: #E6A700;
  color: #fff;
  font-size:3em;
  border: none; }


.panel-info > .panel-heading {
  background-color: #337ab7;
  color: #fff;
  font-size:3em;
  border: none; }

.panel-success > .panel-heading {
  background-color: #60AA14;
  color: #fff;
  font-size:3em;
  border: none; }

.centered {
  text-align: center;
}
