<div class="row">
  <div class="col-md-12">
    <div class="centered panel panel-warning">
      <div class="panel-heading">Alunos registados<div class="num">{{numberOfStudents}}</div></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="centered panel panel-info">
      <div class="panel-heading">Empresas registadas<div class="num">{{numberOfCompanies}}</div></div>
      <div class="panel-body">
        <app-show-all-companies></app-show-all-companies>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="centered panel panel-success">
      <div class="panel-heading">Propostas<div class="num">{{numberOfProposals}}</div></div>
      <div class="panel-body">
        <p>De momento não estamos a divulgar propostas</p>
      </div>
    </div>
  </div>
</div>
