<div class="bg">
    <div class="container middlePage">
      <div class="row">
        <div class="col-md-12">
          <div class="centered panel panel-red">
          <div class="panel-heading">Google Hash-Code</div>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-yellow">
            <div class="centered panel-heading">Procedimentos</div>
            <div class="panel-body">
              <p>O evento decorrerá no dia <b>1 de março de 2018, quinta-feira</b>.
                O GCE organizará uma sessão de apresentação do programa, explicação das regras e esclarecimento de dúvidas,
                assim como uma pequena sessão de talks. Seguidamente, os participantes serão encaminhados para a
                sala de competição.
              </p>
              <h3 class="centered">Programa</h3>

              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Atividade</th>
                  <th scope="col">Horário</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Check-in</td>
                  <td>14:45h-15:30h</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Apresentação e talks</td>
                  <td>15:30h-17:00h</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Competição</td>
                  <td>17:00-21:30h</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Resultados</td>
                  <td>21:30h-22:00h</td>
                </tr>
                </tbody>
              </table>
              <p>As pré-inscrições decorrerão de 22 de janeiro a 28 de janeiro.
                <b>Dia 28 de janeiro as inscrições para o hub do GCE estarão oficialmente abertas.</b>
                Embora a pré-inscrição não seja obrigatória, esta permite-nos estimar o número de participantes e, consequentemente, alocar recursos suficientes para todos.
                A pré-inscrição não garante lugar na competição, apenas serve como lista de espera.
              </p>

              <h3 class="centered">Pré-inscrição</h3>

              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Início das pré-inscrições</th>
                  <th scope="col">Abertura das inscrições (na página do Hub)</th>
                  <th scope="col">Fim das inscrições do Hub</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>22 de janeiro</td>
                  <td>28 de janeiro, 20h</td>
                  <td>1 de fevereiro, 20h</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="centered panel-heading">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="sol-sm-6">
          <div class="nav-tab-holder text-right">
            <ul class="nav nav-tabs row" role="tablist">
              <a id="pre-ins" aria-controls="home" role="tab" data-toggle="tab">PRÉ-INSCRIÇÃO</a>
            </ul>
          </div>
        </div>


      </div>


      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="row">

            <div id = "contentorProposta" class="col-xl-10"  style="background-color: blue; ">

              <article role="login">
                <form (submit)="addPreSign()" class="signup">
                  <flash-messages></flash-messages>

                  <div class="form-group">
                    <input [(ngModel)]="teamName" class="form-control" placeholder="Nome da equipa"  name="TC">
                  </div>

                  <div class="form-group">
                    <input [(ngModel)]="teamCaptain" class="form-control" placeholder="Nome do Team Captain"  name="TCo">
                  </div>

                  <div class="form-group">
                    <input [(ngModel)]="teamContactEmail" class="form-control" placeholder="E-mail do Team Captain"  name="CoE">
                  </div>

                  <div class="form-group">
                    <input [(ngModel)]="teamContactPhone" class="form-control optional" placeholder="*OPCIONAL* Contacto telefónico do Team Captain"  name="Co">
                  </div>

                    <div class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                            Número de participantes  <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click) = "setNumber($event,'2')">2 participantes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "setNumber($event,'3')">3 participantes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click) = "setNumber($event,'4')">4 participantes</a></li>
                        </ul>
                    </div>


                  <p>O contacto telefónico permitem-nos contactar-te para confirmação da presença da tua equipa. Se estiveres na lista de espera, utilizaremos estes contactos para
                    te alertar quando existir uma vaga.</p><br>

                    <p>Se ainda não tiveres membros de equipa, não te pré-inscrevas já. Em vez disso, coloca um post no <a href="https://www.facebook.com/events/212879605945560/">nosso evento</a>, de modo a arranjares equipa.</p>

                  <br><br>
                  <div class="checkbox">
                    <label>
                        <input type="checkbox" (click)="clicked($event)"> <b>Declaro que tomei conhecimento que a pré-inscrição só garante lugar na lista de espera.</b>
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" (click)="clickedc($event)"><b>Subscrever a newsletter do GCE</b>, para obter novidades sobre a plataforma e eventos semelhantes.
                    </label>
                  </div>
                  <flash-messages></flash-messages>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block"  value="Pré-inscrição,nailed it!">
                  </div>





                </form>

              </article>
            </div>



          </div>
          <!-- end of row -->
        </div>
        <!-- end of home -->


      </div>

</div>
