<app-gce-hash-code-program></app-gce-hash-code-program>
<div class="bg">
    <div class="container middlePage">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row">

                        <div id = "contentorProposta">

                            <article role="login">
                                <div class="row">
            <div class="col-md-12">
                <h3 class="centered">Pré-inscrição</h3>                     
                </div>
        </div>

                                <form (submit)="addPreSign()" class="signup">
                                    <flash-messages></flash-messages>
                                    <div class="form-group">
                                        <input [(ngModel)]="teamName" class="form-control" placeholder="Nome da equipa"  name="TC">
                                    </div>

                                    <div class="form-group">
                                        <input [(ngModel)]="teamCaptain" class="form-control" placeholder="Nome do Team Captain"  name="TCo">
                                    </div>

                                    <div class="form-group">
                                        <input [(ngModel)]="teamContactEmail" class="form-control" placeholder="E-mail do Team Captain"  name="CoE">
                                    </div>

                                    <div class="form-group">
                                        <input [(ngModel)]="teamContactPhone" class="form-control optional" placeholder="Contacto telefónico do Team Captain"  name="Co">
                                    </div>

    <div id = "numeroParticipantes" ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Número de membros da equipa</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item"><a class="dropdown-item" (click) = "setNumber($event,'2')">2 membros</a></button>
        <button class="dropdown-item"><a class="dropdown-item" (click) = "setNumber($event,'3')">3 membros</a></button>
        <button class="dropdown-item"><a class="dropdown-item" (click) = "setNumber($event,'4')">4 membros</a></button>
      </div>
    </div>
                                

                                    <p>O contacto telefónico, cuja introdução é opcional, permite-nos contactar-te para confirmação da presença da tua equipa. Se estiveres na lista de espera, utilizaremos estes contactos para
                                        te alertar quando existir uma vaga.</p><br>

                                    <p>Se ainda não tiveres membros de equipa, não te pré-inscrevas já. Em vez disso, coloca um post no <a href="https://www.facebook.com/events/212879605945560/">nosso evento</a>, de modo a arranjares equipa.</p>

                                    <br><br>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" (click)="clicked()"> Declaro que tomei conhecimento que a pré-inscrição só garante lugar na lista de espera.
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" (click)="clickedp()"> Declaro que li e aceito a política de privacidade.
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" (click)="clickedc()"><b> Subscrever a newsletter do GCE</b> para obter novidades sobre eventos semelhantes.
                                        </label>
                                    </div>
                                    <flash-messages></flash-messages>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-block"  value="Pré-inscrição, nailed it!">   
                                    </div>

<div class="col-md-12">
                        <div class="centered panel panel-info">
                            <div class="panel-heading"><a routerLink="/faq"> Consulta a FAQ</a></div>
                            </div>
                        </div> 



                                </form>

                            </article>
                        </div>



                    </div>
                    <!-- end of row -->
                </div>
                <!-- end of home -->


            </div>
            </div>
        </div>
    </div>
</div>