.bg{
  background:url("https://groups.ist.utl.pt/gce-neiist/assets/img/ghc.jpg") no-repeat 0px 0px;
  background-size:cover;
}
.middlePage {
  width: 70%;
  height: 100%;
  margin: auto;
}
.num  {
  font-size:0.3em;
}

.fb {
}

.panel-red > .panel-heading {
  background-color: #db3236;
  color: #fff;
  font-size:3em;
  border: none; }

.panel-yellow > .panel-heading {
  background-color: #f4c20d;
  color: #fff;
  font-size:2em;
  border: none; }

.panel-blue > .panel-heading {
  background-color: #4885ed;
  color:#fff;
}

.centered {
  text-align: center;
}



.smaller{
  font-size:1em;
}


#contentorProposta  {
  margin-left:0em;

}


.login-signup {
  padding: 0 0 25px;
}
.btn-primary {
  background: #4885ed;
  border-radius:0;
  border: 2px solid #4885ed;
  webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
  transition: all 400ms cubic-bezier(.4,0,.2,1);
}

.btn-primary:hover,.btn-primary:focus {
  background: rgba(26, 161, 157, 0);
  border: 2px solid #4885ed;
  webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
  transition: all 400ms cubic-bezier(.4,0,.2,1);
  color: #4885ed;
}

ul {
  list-style-type: none;
}

article[role="login"] {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 30px 50px;
  margin-bottom: 20px;
}

article[role="login"] input[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
}

article[role="login"]:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 15px rgba(0, 0, 0, 0.23);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

article[role="login"] h3 {
  font-size: 26px;
  font-weight: 300;
  color: #3cba54;;
  margin-bottom: 20px;
}

article[role="login"] p {
  font-size: 16px;
  padding: 5px 15px;
}

.nav-tab-holder {
  padding: 0 0 0 30px;
  float: right;
}

.nav-tab-holder .nav-tabs {
  border: 0;
  float: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.nav-tab-holder .nav-tabs > li {
  margin-bottom: -3px;
  text-align: center;
  padding: 0;
  display: table-cell;
  float: none;
  padding: 0;
}


#pre-ins {
  margin-bottom: -3px;
  text-align: center;
  padding: 5px;
  display: table-cell;
  color: #FFF;
  margin-left: 0;
  background-color:    #3cba54;
  border: 0;
  border-radius: 0;
}

.nav-tab-holder .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #FFF;
  background-color:    #3cba54;
  border: 0;
  border-radius: 0;
}
.login-signup {
  padding: 0 0 25px;
}

.optional::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: forestgreen;
}
