.article-title {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.card-body {
    height: 85%;
}

.card-footer {
    background-color: white;
    border-top: 0;
    margin-top: -5pt;
}