.middlePage {
    width: 70%;
  height: auto;
  margin-bottom: 5em;
    margin-top: 5em;
}

.spacing {
  padding-top:7px;
  padding-bottom:7px;
}

.centered  {
  text-align: center;
}

#singlebutton {
  margin-bottom:10px;
}

.btn-primary:hover {
  background-color: #2d3e43;
}

.panel {
    width: 70em;
}