<div class="container middlePage">
    <div class="row">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title alert alert-primary" role="alert">
                    Ao fazeres login, estás a concordar com a nossa Política de Privacidade e a dar-nos autorização para
                    recolher alguns dados sobre ti, nomeadamente: e-mail, nome, género, cadeiras frequentadas e cadeiras
                    a frequentar atualmente. Não recolhemos dados sobre classificações nas cadeiras. Estas informações só
                    serão usadas para fins estatísticos e para funcionamento do serviço GCE-Thesis.


                </div>
            </div>
            <div class="panel-body">

                <div class="row">

                    <div align="center" class="col-md-12" >
                        <div>
                            <a #loginStudent [href]="studentPath" class="disabled btn btn-primary btn-lg">
                                <i class="fa fa-graduation-cap"></i> Login com FenixEdu
                            </a> <div class="form-check">
                            <input (click)="toggleAuth() " class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Li e concordo com a Política de Privacidade
                            </label>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
