.bg{
    background:url("https://groups.ist.utl.pt/gce-neiist/assets/img/ghc.jpg") no-repeat 0px 0px;
    background-size:cover;
}

.container{
  padding: 1em 15em 2em 15em;
  opacity: 0.85;
}

.middlePage {
    width: 70%;
    height: 100%;
    margin: auto;
}

.banner-info{
  padding: 3em 0 12em;
  background-color: #fff;

}
.banner-info h1{
  font-weight: 700;
  font-size: 3.5em;
  color: 	#d62d20;
  text-transform: uppercase;
  width: 70%;
  display: inline-block;
  line-height: 1.3em;
}

.banner-info p{
  color: #0057e7;
  font-weight:400;
  font-size: 1.3em;
  line-height: 1em;
  margin: 1em auto;
  width: 50%;
}

.banner-info a{
  color: #008744;
    font-weight: bold;
}
