<div class="bg">
    <div class="container middlePage">
        <div class="row">
            <div class="col-md-12">
                    <div id="fb-root"></div>

                    <div class="banner-info text-center">
                        <h1>Obrigado! A tua equipa está pré-inscrita!</h1>
                        <p>Para a equipa fazer a inscrição,<p style="color:#008744"> todos os elementos necessitam</p><p> de completar os passos <a routerLink='/faq'>seguintes</a></p>.
                        <p>Nota que as inscrições para o nosso Hub irão abrir dia 1 de fevereiro. Segue a nossa página do Facebook com regularidade para
                        ficares a par das últimas novidades!</p>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgce.neiist%2F&width=141&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=2016815968536967" width="141" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
            </div>
        </div>
    </div>
</div>