<div class="bg">
  <div id="fb-root"></div>
  <div class="banner">
    <div class="container">
      <div class="banner-info text-center">
        <h1>Obrigado! A tua equipa está pré-inscrita!</h1>
        <p>Nota que as inscrições para o nosso Hub irão abrir dia 28 de janeiro. Segue a nossa página do Facebook com regularidade para
          ficares a par das últimas novidades!</p>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgce.neiist%2F&width=141&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=2016815968536967" width="141" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <p>Para a equipa completar a inscrição, todos os elementos necessitam de completar os passos <a href="https://goo.gl/hpmiVu">seguintes</a></p>.      </div>
    </div>
  </div>
</div>

