<div class="middlePage">
<div class="page-header">
    <h1 class="centered logo">Registo</h1>
  </div>

      <div class="container-fluid">
        <div class="row">
          <div class="centered col-md">
            <button (click)="clickStudent()" class="buttons_column btn btn-info btn-lg">
              <i class="fa  fa-graduation-cap"></i> Estudante
            </button>
            <button (click)="clickStudent()" class="disabled buttons_column btn btn-info btn-lg">
              <i class="fa  fa-graduation-cap"></i> Professor
            </button>
            <button (click)="clickCompany()" class="buttons_column btn btn-primary btn-lg">
              <i class="fa  fa-building"></i> Empresa
            </button>
        </div>
      </div>
    </div>
</div>
