
  <div class="container">
    <!--<carousel>
  <slide>
    <div class="textoSlider "> &lt;!&ndash; podes usar bg-dark para fundo cinzento &ndash;&gt;
      <div class="text-center py-5  text-white ">

        <h1>Grupo De Contacto Com Empresas</h1>
        <div class="lead">
          <i class="fa fa-handshake-o missao1  "  aria-hidden="true"></i>
          <h5>Criamos e reforçamos laços</h5>
          <p> Queremos ajudar os alunos a conhecerem empresas espetaculares. Para atingir este objetivo, ajudamos as empresas a divulgarem as suas ofertas.</p>
        </div>
      </div>
    </div>

  </slide>
  <slide>
    <div class="textoSlider ">
      <div class="text-center py-5  text-white">
        <h1>Grupo De Contacto Com Empresas</h1>
        <div class="lead">
          <i class="fa fa-bolt missao2"  aria-hidden="true"></i>
          <h5>Promovemos o Empreendedorismo</h5>
          <p>Mais cedo ou mais tarde, irás comandar equipas. O empreendorismo é uma excelente forma de te focares na tua criatividade, inovação e dinamismo! </p>
          <p>No GCE, queremos ajudar-te a descobrires  empreendedor em ti!</p>
        </div>
      </div>
    </div>

  </slide>
  <slide>
    <div class="textoSlider ">
      <div class="text-center py-5  text-white">
        <h1>Grupo De Contacto Com Empresas</h1>
        <div class="lead">
          <i class="fa fa-road missao3"  aria-hidden="true"></i>
          <h5>Ambicionamos ser a ponte entre os alunos e o seu futuro.</h5>
        </div>
      </div>
    </div>

  </slide>
</carousel>-->


    <hr>


    <!---- banner ---->
    <!--- services --->

    <!--- services --->
    <div class="clearfix"> </div>

    <! -- service box style demo 82>
    <div class="row" style="margin-top: 50px; margin-bottom: 50px; justify-content: space-around;">
      <div >
        <h3 class="text-center">Acompanha os nossos projectos:</h3>

      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><i style="position:relative;right:15px;" class="fa fa-graduation-cap"></i></div>
          <h3 class="title">GCE-Thesis</h3>
          <p class="description">
            Achas impossível difícil decidir qual a tese que vais fazer?

            Achas a lista de "400" teses no Fénix extensa e prolixa?

            Nós também. GCE-Thesis é um serviço informativo feito de alunos para alunos, que te ajudará a pesquisar as teses do Fénix. Este serviço está em desenvolvimento.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><i style="position:relative;right:8px;" class="fa fa-rocket"></i></div>
          <h3 class="title">Serviços de inovação</h3>
          <p class="description">
            Brevemente        </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="serviceBox">
          <div class="service-icon"><i style="position:relative;right:15px;" class="fa fa-handshake-o"></i></div>
          <h3 class="title">Estágios Remunerados</h3>
          <p class="description">
            O GCE vai focar-se em entregar-te estágios de qualidade em startups de alunos do Técnico. Estamos em processo de estabelecimento de parcerias. Se és aluno do Técnico e procuras um estágio neste momento, podes utilizar a plataforma oficial do IST.        </p>
        </div>
      </div>


    </div>


  </div>


<div style="margin-top:50px"></div>


<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">A nossa fantástica equipa</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">A familia do GCE está em constante crescimento!</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/andre.jpg" style="height:200px; weight:200px;" class="rounded-circle z-depth-1">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">André Pereira</h5>
      <!--<p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>-->
      <p class="grey-text">"Work to live well, it is the greatest revenge."</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2   tw-ic">
          <i class="fa fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2   ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/dr.jpg" style="height:200px; weight:200px;"  class="rounded-circle z-depth-1" >
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Daniel Ramos</h5>
      <!--<p class="text-uppercase blue-text"><strong>Web developer</strong></p>-->
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium doloremque rem laudantium totam aperiam.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2   ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->



    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/gce.png" class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Francisco Santos</h5>
      <!--<p class="text-uppercase blue-text"><strong>Backend developer</strong></p>-->
      <p class="grey-text">P"Wondering about a life-changing quote"</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2   ins-ic">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/i.png" class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Inês Sequeira</h5>
      <!--<p class="text-uppercase blue-text"><strong>Photographer</strong></p>-->
      <p class="grey-text">"Wondering about a life-changing quote"</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2   ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2   ins-ic">
          <i class="fa fa-dribbble blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <div style="margin-top:30px"></div>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/heleno.jpg" class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Jorge Heleno</h5>
      <!--<p class="text-uppercase blue-text"><strong>Web developer</strong></p> -->
      <p class="grey-text">"Giving the best and fighting for an open-source world!"</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2   ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->





    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/teo.jpg" style="height:200px; weight:200px;"class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Lourenço Teodoro</h5>
      <!-- <p class="text-uppercase blue-text"><strong>Photographer</strong></p> -->
      <p class="grey-text">"Intending to die on Mars and trying to make something out of life before that"</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2   ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2   ins-ic">
          <i class="fa fa-dribbble blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/pedro.jpg" class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Pedro Grilo</h5>
      <!-- <p class="text-uppercase blue-text"><strong>Backend developer</strong></p> -->
      <p class="grey-text">"Meaningful things will allow you to enjoy life to its fullest."</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2   fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2   ins-ic">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://groups.ist.utl.pt/gce-neiist/assets/img/team/rafa.jpg" class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Rafael Belchior</h5>
      <!--  <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p> -->
      <p class="grey-text">"I don't walk, I run!"</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2  fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2  tw-ic">
          <i class="fa fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2  ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <div class="row">

    <div class="col-lg-2 offset-5 ">
      <div class="avatar mx-auto">
        <img src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" class="rounded-circle z-depth-1" style="height:200px; weight:200px;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Tu ?</h5>
      <!-- <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p> -->
       <p class="grey-text">Aceita o desafio!</p>
       <ul class="list-unstyled mb-0">
         <!-- Facebook -->
        <a class="p-2  fb-ic">
          <i class="fa fa-facebook blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2  tw-ic">
          <i class="fa fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2  ins-ic">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>

  </div>
</section>
<!-- Section: Team v.1 -->