<nav class="navbar navbar-expand-lg fixed-top navbar-primary" color-on-scroll="500">

    <div class="container px-5">
        <div class="navbar-translate">
            <a [routerLink]="['/']">
                <img style="max-height: 40px;" src="https://web.ist.utl.pt/~ist186413/gce.png" alt="GCE">
            </a>
        </div>
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
            <i id="hamburger-icon" class="fa fa-bars fa-2x"></i>
        </button>

        <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">

            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="isHome() && !isLoggedIn()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/gce.neiist" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isHome()&& !isLoggedIn()">
                    <a class="nav-link" rel="tooltip" title="GCE's GitHub" data-placement="bottom" href="https://github.com/RafaelAPB/GCE-NEIIST" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
               <!-- <li [routerLinkActive]="['active']" class="nav-item">

                    <a class="nav-link" [routerLink]="['/hashcode']" >
                        <img src="https://media.discordapp.net/attachments/316948358856179723/534067568617717773/ghc.png" style="height:25px;">
                        <p>hash code</p>
                    </a>
                </li> -->
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" [routerLink]="['/articles']"
                                        [style.border-bottom]="isArticles() ? '#00BFFD solid 2px' : 'white solid 2px'">
                        <p>Artigos & Entrevistas</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item" *ngIf="isLoggedIn()">
                    <a class="nav-link" [routerLink]="['/thesis']"
                                        [style.border-bottom]="isThesis() ? '#00BFFD solid 2px' : 'white solid 2px'">
                        <p>GCE Thesis</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']"  class="nav-item" *ngIf="isLoggedIn()">
                    <a class="nav-link" [routerLink]="['/chatbot']"
                                        [style.border-bottom]="isChatbot() ? '#00BFFD solid 2px' : 'white solid 2px'">

                        <p>Mr. Thesis</p>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li [routerLinkActive]="['active']"  class="nav-item" *ngIf="isLoggedIn()">
                    <a class="nav-link" [routerLink]="['/profileStudent']"
                                        [style.border-bottom]="isProfile() ? '#00BFFD solid 2px' : 'white solid 2px'">
                        <p>{{name}}</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn() && !isLoginPage()">
                     <a class="nav-link" [routerLink]="['/login']">
                         <p>Login</p>
                     </a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a class="nav-link" (click)="onLogoutClick()">
                        <p>Logout</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div *ngIf="navbarOpen"  id="overlay" (click)="toggleNavbar()">
</div>


