<div class="jumbotron" style="margin-bottom: 0">
<div class="container middlePage">
    <div class="row">
        <div class="col-md-12">
            <div class="centered panel panel-red">
                <div class="panel-heading"><span style="color: #4285F4"> G</span><span style="color: #DB4437">o</span><span style="color: #F4B400">o</span><span style="color: #4285F4">g</span><span style="color: #0F9D58">l</span><span style="color: #DB4437">e</span> Hash Code</div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-yellow">
                <h3 class="centered">Procedimentos</h3>
                <div class="panel-body">
                    <p style= "margin-top: 3%">O evento decorrerá no dia <b>28 de fevereiro de 2019, quinta-feira</b>, das 14:30h às 22h, Instituto Superior
                        Técnico.
                        O GCE organizará uma sessão de <b>apresentação do Google Hash Code, explicação das regras e esclarecimento de dúvidas</b>.
                        Haverá também uma pequena sessão de talks, dada pelos nossos parceiros. Seguidamente, os participantes serão encaminhados para o
                        coffee-break, onde poderão conhecer os nossos parceiros e as suas ofertas. Depois do coffee-break, a competição terá início.
                    </p>
                    <h3 class="centered">Programa</h3>
                    <table class="table table-striped" style="
    margin-bottom: 4%;">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Atividade</th>
                            <th scope="col">Horário</th>
                            <th scope="col">Local</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>Check-in</td>
                            <td>14:30h-15:00h</td>
                            <td>Sala FA2</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Apresentação e Talks</td>
                            <td>15:00h-16:00h</td>
                            <td>Sala FA2</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Sessão de Networking (com coffee-break!)</td>
                            <td>16:00h-17:00h</td>
                            <td>Pavilhão de Informática III</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Competição</td>
                            <td>17:30-21:30h</td>
                            <td>Pavilhão de Informática I (RNL)</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Divulgação dos Resultados</td>
                            <td>21:30h-22:00h</td>
                            <td>Pavilhão de Informática I (RNL)</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<p>As pré-inscrições/waiting-list decorrerão a partir de 21 de fevereiro.
                        <b>Dia 28 de fevereiro as inscrições para o hub do GCE estarão oficialmente abertas.</b>
                        Embora a pré-inscrição não seja obrigatória para se participar no Google Hash Code, esta permite-nos
                        estimar o número de participantes e, consequentemente, alocar recursos suficientes para todos.
                        A pré-inscrição não garante lugar na competição, mas garante lugar na lista de espera.
                    </p>
                    <p>É de salientar que as inscrições serão fechadas dia 1 de fevereiro às 17h, ou assim que cheguemos ao limite da nossa capacidade. O form da pré-inscrição encontra-se em baixo. </p>
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Início das pré-inscrições</th>
                            <th scope="col">Abertura das inscrições (na página do Hub)</th>
                            <th scope="col">Fim das inscrições do Hub</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>24 de janeiro</td>
                            <td>1 de fevereiro, 14:30h</td>
                            <td>1 de fevereiro, 16:55h</td>
                        </tr>
                        </tbody>
                    </table>-->


                </div>
            </div>
        </div>
    </div>


</div>
</div>