.bg{
    background-size:cover;
    margin-top: 6%;
}
.middlePage {
    width: 70%;
    height: 100%;
    margin: auto;
}
@media (max-width: 1000px) {

      .middlePage {
            width: 100%;
       }

}
.table {
    margin-top: 3%;
}
.panel-info > .panel-heading {
    background-color: #337ab7;
    color: #fff;
    font-size:3em;
    border: none; }

.panel-red > .panel-heading {
    color: #495057;
    font-size:4em;
    border: none; 
    margin-bottom: 2%;
}

.panel-yellow > .panel-heading {
    color: #495057;
    font-size:2em;
    border: none; 
    margin-bottom: 2%}

.centered {
    text-align: center;
}

a{
    color:white;
}