<div class="container middlePage">
  <div class="row">
    <div class="col-7">

      <div class="alert alert-info faq" role="alert">
        <h4 class="alert-heading">F.A.Q</h4>
        <p>
          Aqui podes falar em Inglês com o <b>Mr. Thesis</b>, que te vai tentar recomendar teses adequadas ao teu perfil. No entanto, não é a única coisa que consegue fazer.
          Testa-o!<br>
        </p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Funcionalidades do Mr. Thesis
          </button>
        <br>
        <div class="collapse" id="collapseExample">
          <ul>
            <li>Lista de teses adequadas à tua área de especialização (i.e. "help me choose a thesis")</li>
            <li>Lista de teses com um determinado professor(i.e. "help me choose a thesis", "advisor"). Procura com primeiro e último nome do professor (i.e. Daniel Gonçalves).</li>
            <li>Informação e estatísticas sobre as teses de mestrado (i.e. "show me statistics about the theses")</li>
            <li>Informação e estatísticas sobre o nosso serviço (i.e. "can you show me statistics about the users of the platform", "show me statistics about the available theses").</li>
            <li>Informação sobre o GCE (i.e. "what is GCE").</li>
          </ul>
        </div>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            Cursos suportados
          </button>
        <div class="collapse" id="collapseExample2">
            <span class="badge badge-primary">MEIC</span>
        </div>
        <hr>
        <p class="mb-0">
          Pedidos para funcionalidades/sugestões podem ser feitas através do e-mail: francisco.casaca@tecnico.ulisboa.pt.
          <b>Se gostarias de usar este serviço para o teu curso, contacta-nos!</b> </p>
      </div>

    </div>
    <div class="col-5">
      <div class="chat">
        <div class="chat-title">
          <h1>Mr. Thesis</h1>
          <h2>The First Digital Thesis Advisor for Técnico Lisboa Students</h2>
          <figure class="avatar">
            <img src="https://web.ist.utl.pt/~ist180970/assets/img/favicon.png" /></figure>
        </div>
        <div style="overflow: auto; height: 400px;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <ng-container *ngFor="let message of messages | async">

            <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                          'to':   message.sentBy === 'user' }">
              {{ message.content }}
            </div>

          </ng-container>
        </div>
        <div class="message-box">
          <textarea [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" class="message-input" placeholder="Type message..."></textarea>
          <button (click)="sendMessage()" type="submit" class="message-submit">Send</button>
        </div>

      </div>
    </div>

  <div class="bg"></div>
  </div>
</div>
