<a id = "feedback-button" class="btn btn-primary" (click)="openModal(content)"><i class="fa fa-hand-scissors-o"></i> Feedback</a>

<ng-template #content let-modal>
    <div id="form-main">
        <div id="form-div">
            <form id = "form1" (submit)="sendFeedback()" method="post" action="" class="form">

                <br><br>
                <p class="focusedW">Dá-nos a tua sugestão!</p>
                <p class="focusedW"> Deves estar autenticado para enviares feedback</p>

                <br><br>
                <p class="name">
                    <input [(ngModel)]="name" class="feedback-input" type="text" name="name" id="name" placeholder="Nome *">
                </p>

                <p class="email">
                    <input [(ngModel)]="email" name="email" type="email" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email *" />
                </p>

                <p class="text">
                    <textarea name="text" [(ngModel)]="message" name="message" name="message" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Feedback *"></textarea>
                </p>

                <flash-messages></flash-messages>
                <br>
                <div class="submit">
                    <input type="submit" value="SEND" id="button-blue"/>

                    <div class="ease"></div>
                </div>


            </form>
        </div>
    </div>

</ng-template>