<a id = "feedback-button" class="btn btn-primary" (click)="openModal(template)"><i class="fa fa-hand-scissors-o"></i> Feedback</a>

<template #template>
    <form id = "contact-form" (submit)="sendFeedback()" method="post" action="" class="contact_form">
      <div class="container">
        <div>
          <h1>Ajuda-nos!</h1>
          <h4>Precisamos do teu feedback para podermos melhorar.
            </h4>
        </div>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Eu sou ...  <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Empresa')">Empresa</a></li>
            <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Professor')">Professor</a></li>
            <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Estudante')">Estudante</a></li>
            <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Outro')">Outro (especifique na mensagem)</a></li>
          </ul>
        </div>
        <br><br>
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Ação ... <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click) = "setType($event,'Bug')">Reportar um bug</a></li>
            <li role="menuitem"><a class="dropdown-item" (click) = "setType($event,'Sugestão')">Dar uma sugestão</a></li>
            <li role="menuitem"><a class="dropdown-item" (click) = "setType($event,'Outro assunto')">Outro (especifique na mensagem)</a></li>
          </ul>
        </div>
        <br><br>
        <p id = "recomendarias">Qual a primeira impressão?</p>

        <rating [(ngModel)]="rate" [max]="max" name = "rate"
                (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                [titles]="['one','two','three']"></rating>
        <span class="label" name = "rate_label"
              [ngClass]="{'label-warning': percent<40, 'label-info': percent>=40 && percent<80, 'label-success': percent>=80}"
              [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>

        <br><br>
        <p>10 - Muito apelativo</p>
        <p>0 - Nada apelativo</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input [(ngModel)]="name" type="text" name="name" id="name" placeholder="Nome *">
        </div>
        <div class="col-md-12">
          <input [(ngModel)]="email" type="email" placeholder="E-mail *" name="email">
        </div>
      </div>
      <div class="contact_form_message_block">
        <input [(ngModel)]="message" name="message" id="message" placeholder="Como podemos melhorar? *"  name="message">
      </div>
        <flash-messages></flash-messages>
        <div class="contact_form  ">
        <button id="submit" name="submit" class="btn btn-info btn-md">Enviar</button>
      </div>
    </form>
</template>
