<a id = "feedback-button" class="btn btn-primary" (click)="openModal(template)"><i class="fa fa-hand-scissors-o"></i> Feedback</a>

<template #template>
    <div id="form-main">
        <div id="form-div">
            <form id = "form1" (submit)="sendFeedback()" method="post" action="" class="form">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        Eu sou ...  <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Empresa')">Empresa</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Professor')">Professor</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Estudante')">Estudante</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click) = "setEntity($event,'Outro')">Outro (especifique na mensagem)</a></li>
                    </ul>
                </div>
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" style="margin-left: 2em" class="btn btn-primary dropdown-toggle">
                        Quero falar sobre... <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" (click) = "setType($event,'Bug')">Reportar um bug</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click) = "setType($event,'Sugestão')">Dar uma sugestão</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click) = "setType($event,'Outro assunto')">Outro (especifique na mensagem)</a></li>
                </ul>
                </div>
                <br><br>
                <p class="focusedW">O que achas da plataforma?</p>
                <rating [(ngModel)]="rate" [max]="max" name = "rate" style="color:white;font-size:1.5em;"
                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                        [titles]="['one','two','three']"></rating>
                <span class="label" name = "rate_label"
                      [ngClass]="{'label-warning': percent<40, 'label-info': percent>=40 && percent<80, 'label-success': percent>=80}"
                      [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>

                <br><br>
                <p class="name">
                    <input [(ngModel)]="name" class="feedback-input" type="text" name="name" id="name" placeholder="Nome *">
                </p>

                <p class="email">
                    <input [(ngModel)]="email" name="email" type="email" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email *" />
                </p>

                <p class="text">
                    <textarea name="text" [(ngModel)]="message" name="message" name="message" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Feedback *"></textarea>
                </p>

                <flash-messages></flash-messages>
                <br>
                <div class="submit">
                    <input type="submit" value="SEND" id="button-blue"/>

                    <div class="ease"></div>
                </div>


            </form>
        </div>
    </div>

</template>