<app-work-in-progress></app-work-in-progress>
<div class="middlePage">
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <div class="panel panel-info">
          <div class="panel-heading">1) Âmbito</div>
          <div class="panel-body">
            De modo a providenciarmos a cada empresa informações específicas acerca da sua prestação, acreditamos estar a
            ajudar cada uma a atingir mais eficazmente o seu público-alvo.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <flash-messages></flash-messages>
        <div class="panel panel-info">
          <div class="panel-heading">2) Conteúdo</div>
          <div class="panel-body">Nesta secção estarão presentes várias informações que acreditamos importantes, como: número de cliques em cada proposta,
            número de alunos em cada área de mestrado, número de professores por área de mestrado, entre outros.</div>
        </div>


      </div>
    </div>

    <br>
    <br>
  </div>
</div>

