<div class='container-fluid'>
    <div class='col-12'>
        <ngb-carousel>

            <ng-template ngbSlide>
                <img src="http://web.ist.utl.pt/~ist186413/assets/aerotec.png" alt="AeroTéc">
                <img src="http://web.ist.utl.pt/~ist186413/assets/nebm.jpg" alt="Núcleo de Engenharia Biomédica do IST">
                <img src="http://web.ist.utl.pt/~ist186413/assets/forummecanica.png" alt="Fórum Mecânica">
            </ng-template>

        </ngb-carousel>
    </div>
</div>
